body{margin: 0px;
    font-family: 'Roboto', sans-serif;}
    .orang-highlight{color: orange;}
h1{font-size: 40px;}
    .half-width{
        width: 40%;float: left;
        margin-left: 5%;
        padding-left: 2%;
    }
    .half-width img{
        width: 100%;
    }
    .link-button{background-image: linear-gradient(180deg, lightsalmon, tomato);
    text-decoration: none;
    font-weight: 700px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;}
.Top-banner{background-image: url(Image/copy.png);
background-repeat: no-repeat;
background-position: left;}
section{height: 500px;}